/* styles.css - Challenge #1 (Skeleton) */

/* Universal CSS */
* {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


/* Page Content */
.container {
    margin: auto;
    max-width: 800px;
    padding: 20px;
}


/* Site Header */
.site-header {
    font-size: x-large;
    margin-bottom: 25px;
}

.site-header > h1 {
    color: deeppink;
    text-align: center;
    font-weight: 800;
}

.tagline {
    margin: 10px;
    font-size: medium;
    color: black;
    text-align: center;
    font-style: italic;
}


/* Mascot Image */
.mascot-placeholder {
    max-width: 55%;
    margin: auto;
}

#mascot-image {
    background-color: white;
    max-width: inherit;
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 8%;
    padding-left: 5%;
    padding-right: 5%;
}


/* About Description */
.about > h2, p {
    margin: 20px 0px 20px 0px;
    line-height: 1.6;
}


/* Action Buttons */
.actions {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Prevents Resizing of Child Elements */
    padding: 0px 20px;
}

.actions button {
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 12px 20px;
    border-width: 0px;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
    margin-bottom: 20px;
    margin-right: 10px;
}

.actions button:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.buy-tickets {
    background-color: limegreen;
    box-shadow: 0px 0px 10px 1px aqua;
}

.buy-tickets:hover {
    background-color: green;
}

.make-donation {
    background-color: blue;
    box-shadow: 0px 0px 10px 1px hotpink;
}

.make-donation:hover {
    background-color: navy;
}


/* Footer */
.site-footer {
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 12px;
}