:root {
  --banner-start: #2b5876;
  --banner-end: #4e4376;
}

/* Simple gradient banner */
.gradient-banner {
  background: linear-gradient(90deg, var(--banner-start), var(--banner-end));
  color: #fff;
}


/* Task 2 - Pagination */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}


/* Task 11 - IMH Hotline */
#imh-hotline {
  background-color: gold;
  text-align: center;
  padding: 1em 0 1em 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
